<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servidor de envio de Mensagens WhatsApp Simbolus</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
</head>
<body>
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
      <script>

      </script>
        <div>
            <ul align="center">
            {% for msg in mensagens %}
                {{msg}}
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    <img src="/static/images/Logo.png" alt=""/><br>
        <div class="page">
            <form  class="formLogin" action="/login2" method="post">
                <fieldset>
                    <legend>Serviços</legend>
                    <table border="1" cellpadding="4" cellspacing="0" width="100%">
                        <tr><td colspan="2" align="center">método: enviaTexto</td></tr>
                        <tr><td>Parâmetro</td><td>Descrição</td></tr>
                        <tr><td>apikey</td><td>Chave api do cliente</td></tr>
                        <tr><td>conta</td><td>Celular com ddd do cliente</td></tr>
                        <tr><td>Fone</td><td>Telefone para envio da mensagem</td></tr>
                        <tr><td>id</td><td>Identificador do cliente para identificar mensagem</td></tr>
                        <tr><td>Texto</td><td>Texto que será enviado</td></tr>
                    </table><br>
                    <table border="1" cellpadding="4" cellspacing="0" width="100%">
                        <tr><td colspan="2" align="center">método: enviaArquivo</td></tr>
                        <tr><td>Parâmetro</td><td>Descrição</td></tr>
                        <tr><td>apikey</td><td>Chave api do cliente</td></tr>
                        <tr><td>conta</td><td>Celular com ddd do cliente</td></tr>
                        <tr><td>Fone</td><td>Telefone para envio da mensagem</td></tr>
                        <tr><td>id</td><td>Identificador do cliente para identificar mensagem</td></tr>
                        <tr><td>Texto</td><td>Texto que será enviado</td></tr>
                        <tr><td>nome_arquivo</td><td>nome do arquivo que será enviado</td></tr>
                        <tr><td>encoded</td><td>arquivo na base64</td></tr>
                        <tr><td>tipo</td><td>"image/jpeg" ou "documento/pdf" ou "documento/xml"</td></tr>
                        <tr><td>tipo2</td><td>"image" ou "document"</td></tr>
                    </table>
                </fieldset>
        </form>
    </div>

</body>
</html>
